<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jumia-scrapper-api</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="main.css">
</head>

<body>
    <main>

        <h1>
            Welcome to the Jumia Scrapper Api
        </h1>
        <p>
            This API is in beta and hope to get something clean on here soon
        </p>


        <br>
        <br>
        
        <h2>
            Here are the currently available endpoints
        </h2>
        <p>
        <pre>http://localhost:5000/api/dailyDeals</pre>
        <pre>http://localhost:5000/api/topSelling</pre>
        <pre>http://localhost:5000/api/prodDesc/:prodUrl/</pre>
        <pre>http://localhost:5000/api/reviews/:id/</pre>
        <pre>http://localhost:5000/api/reviews/:id/:idx</pre>
        <pre>http://localhost:5000/api/search/:category/</pre>
        <pre>http://localhost:5000/api/search/:category/:id</pre>
        <pre>http://localhost:5000/api/category/:category</pre>
        <pre>http://localhost:5000/api/category/:category/:id</pre>
        </p>
    </main>
</body>

</html>